# Dependencies
node_modules/
package-lock.json

# Expo / Web Build
.expo/
dist/
web-build/

# OS / Editor
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Scratch & temporary
scratch/
test.txt
2026_NSOSYAL_YARISMASI_SARTNAMESI_TR_2026_07_24_v9_1_G92Gv_PpMLO.pdf
